<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<body>
    <h1>Contact Information</h1>
    <p>Name: Eben Janse van Rensburg</p>
    <p>Email: ebenj.van.rensburg@gmail.com</p>
    <p>GitHub: <a href="https://github.com/ebenj-van-rensburg">ebenj-van-rensburg</a></p>
    <p>
        YouTube Links:
        <br><a href="https://www.youtube.com/playlist?list=PLs5z09cij1C0qmnWry57eyAAsu3N4k7_k">JavaScript</a>
        <br><a href="https://www.youtube.com/playlist?list=PLs5z09cij1C1F4znBQUkOXj_tWSBimleA">Node.js</a>
    </p>
</body>

</html>